.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.student-card {
  display: flex;
  justify-content: space-around;
}

.signin-button {
  border-radius: 20px;
  color: #fff;
  background: #0067b8;
  position: relative;
  padding: 9px 27px;
  margin-top: 50px;
  font-family: inherit;
  font-size: inherit;
}

.button-container {
  /* margin: 0 0.5rem; */
  margin-right: 2rem;
}

.signup-button {
  display: inline-block;
  padding: 1px 7px 2px;
  cursor: default;
  font: 400 15px system-ui;
  color: black;
  background-color: white;
}